
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.body{
      font-family: 'Mochiy Pop One', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: pink;
      z-index: 3;
      width: 200vh;
      height: 100vh;
  }
  